* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #f5f5f5;
    transition: width 0.3s ease-in-out;
    height: 100%;
}

#app {
    width: 100%;
    position: relative;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

canvas {
    display: inline-block;
    z-index: 0 !important;
}